
body {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Afacad', sans-serif;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Croissant One', serif;
    font-family: 'Hedvig Letters Serif', serif;
    font-family: 'Laila', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

h4 {
    margin: 0;
}

p {
    margin: 0px;
    color: rgb(151, 151, 151);
}

.wrap {
    width: 900px;
    height: 600px;
    position: relative;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.chat_girl{
    width: 340px;
    height: fit-content;
    background-color: rgb(255,182,193);
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.chat_boy {
    width: 340px;
    height: fit-content;
    background-color: rgb(174,216,230);
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.pos1 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.pos2 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    align-items: center;
}

.pos0 {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    left: -90px;
}

.pos01 {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    left: 63px;
}