@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: pink;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: pink;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: pink;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.navbar {
    background: transparent;
}

.navbar a:hover::before {
    width: 100%;
}

nav {
    background: aqua;
}

.main {
    position: relative;
    top: 300px;
    left: 300px;
}

.new-page {
    background-color: #a4cfe5;
    padding: 50px;
    height: 400px;
}

.new-page h1 {
    color: white;
}

.new-page p {
    color: white; 
}

body {
    overflow-x: hidden;
}

.first-page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#video_first_page {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}


#img_first_page {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.first-page .content {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 82, 109);
}

img { 
    pointer-events: none; 
}

.new-page {
    display: flex;
    justify-content: center;
}
#slogan {
    margin-top: 8%;
    text-align: center;
    width: 70%;
    font-size: 30px;
    color: rgb(0, 82, 109);
    font-family: 'Montserrat', sans-serif;
}

.characters {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
}

#char1_img {
    margin-right: 20px; 
}

#char1_name {
    font-size: 24px; 
    font-weight: bold;
    color: rgb(0, 82, 109);
}