/* Ваши собственные стили здесь */
body {
    padding-top: 56px; /* Высота навигационного бара */
}

/* Дополнительные стили для футера */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}